@{
    ViewData["Title"] = "Oversight";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="ViewShoppinglists">
    <!-- Overzicht met de verslagen -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p> Overzicht van alle verslagen</p>
            </div>
        </div>
    </div>
</body>