@using Logic
@{
    ViewBag.Title = "Report";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            <div>
                <h1>@ViewBag.MatchReport.Title</h1>
            </div>
        </div>
        <hr>
        <div class="col-md-12">
            <h2>Report:</h2>
            <div>
                <p>@ViewBag.MatchReport.Report</p>
            </div>
        </div>
    </div>
</body>
